body{
    background-color: rgb(245, 61, 61);
}

p.title{
    border:solid green 5px;
}

h1{
    color:green;
    background-color: orange;
}

p.page{
    border:solid green 5px;
}

div.box{
    background-color: orange;
    border:solid green 5px;
}

h3{
    color: green;
    background-color: orange;
}

h5{
    color: green;
    background-color: orange;
}